html
    head
        include head
    body
        .site-wrap
            .site-navbar.bg-white.py-2
                .search-wrap
                    .container
                        a.search-close.js-search-close(href='#')
                            span.icon-close2
                        form(action='#', method='post')
                            input.form-control(type='text', placeholder='Search keyword and hit enter...')
                .container
                    .d-flex.align-items-center.justify-content-between
                        .logo
                            .site-logo
                                a.js-logo-clone(href='index.html') ShopMax
                        .main-nav.d-none.d-lg-block
                            nav.site-navigation.text-right.text-md-center(role='navigation')
                                ul.site-menu.js-clone-nav.d-none.d-lg-block
                                    li.has-children
                                        a(href='index.html') Home
                                        ul.dropdown
                                            li
                                                a(href='#') Menu One
                                            li
                                                a(href='#') Menu Two
                                            li
                                                a(href='#') Menu Three
                                            li.has-children
                                                a(href='#') Sub Menu
                                                ul.dropdown
                                                    li
                                                        a(href='#') Menu One
                                                    li
                                                        a(href='#') Menu Two
                                                    li
                                                        a(href='#') Menu Three
                                    li.active
                                        a(href='shop.html') Shop
                                    li
                                        a(href='#') Catalogue
                                    li
                                        a(href='#') New Arrivals
                                    li
                                        a(href='contact.html') Contact
                        .icons
                            a.icons-btn.d-inline-block.js-search-open(href='#')
                                span.icon-search
                            a.icons-btn.d-inline-block(href='#')
                                span.icon-heart-o
                            a.icons-btn.d-inline-block.bag(href='cart.html')
                                span.icon-shopping-bag
                                span.number 2
                            a.site-menu-toggle.js-menu-toggle.ml-3.d-inline-block.d-lg-none(href='#')
                                span.icon-menu
            .bg-light.py-3
                .container
                    .row
                        .col-md-12.mb-0
                            a(href='index.html') Home
                            span.mx-2.mb-0 /
                            a(href='cart.html') Cart
                            span.mx-2.mb-0 /
                            strong.text-black Checkout
            .site-section
                .container
                    .row.mb-5
                        .col-md-12
                            .border.p-4.rounded(role='alert')
                                | Returning customer?
                                a(href='#') Click here
                                |  to login
                    .row
                        .col-md-6.mb-5.mb-md-0
                            h2.h3.mb-3.text-black Billing Details
                            .p-3.p-lg-5.border
                                .form-group
                                    label.text-black(for='c_country')
                                        | Country
                                        span.text-danger *
                                    select#c_country.form-control
                                        option(value='1') Select a country
                                        option(value='2') bangladesh
                                        option(value='3') Algeria
                                        option(value='4') Afghanistan
                                        option(value='5') Ghana
                                        option(value='6') Albania
                                        option(value='7') Bahrain
                                        option(value='8') Colombia
                                        option(value='9') Dominican Republic
                                .form-group.row
                                    .col-md-6
                                        label.text-black(for='c_fname')
                                            | First Name
                                            span.text-danger *
                                        input#c_fname.form-control(type='text', name='c_fname')
                                    .col-md-6
                                        label.text-black(for='c_lname')
                                            | Last Name
                                            span.text-danger *
                                        input#c_lname.form-control(type='text', name='c_lname')
                                .form-group.row
                                    .col-md-12
                                        label.text-black(for='c_companyname') Company Name
                                        input#c_companyname.form-control(type='text', name='c_companyname')
                                .form-group.row
                                    .col-md-12
                                        label.text-black(for='c_address')
                                            | Address
                                            span.text-danger *
                                        input#c_address.form-control(type='text', name='c_address', placeholder='Street address')
                                .form-group
                                    input.form-control(type='text', placeholder='Apartment, suite, unit etc. (optional)')
                                .form-group.row
                                    .col-md-6
                                        label.text-black(for='c_state_country')
                                            | State / Country
                                            span.text-danger *
                                        input#c_state_country.form-control(type='text', name='c_state_country')
                                    .col-md-6
                                        label.text-black(for='c_postal_zip')
                                            | Posta / Zip
                                            span.text-danger *
                                        input#c_postal_zip.form-control(type='text', name='c_postal_zip')
                                .form-group.row.mb-5
                                    .col-md-6
                                        label.text-black(for='c_email_address')
                                            | Email Address
                                            span.text-danger *
                                        input#c_email_address.form-control(type='text', name='c_email_address')
                                    .col-md-6
                                        label.text-black(for='c_phone')
                                            | Phone
                                            span.text-danger *
                                        input#c_phone.form-control(type='text', name='c_phone', placeholder='Phone Number')
                                .form-group
                                    label.text-black(for='c_create_account', data-toggle='collapse', href='#create_an_account', role='button', aria-expanded='false', aria-controls='create_an_account')
                                        input#c_create_account(type='checkbox', value='1')
                                        |  Create an account?
                                    #create_an_account.collapse
                                        .py-2
                                            p.mb-3
                                                | Create an account by entering the information below. If you are a returning customer please login at the top of the page.
                                            .form-group
                                                label.text-black(for='c_account_password') Account Password
                                                input#c_account_password.form-control(type='email', name='c_account_password', placeholder='')
                                .form-group
                                    label.text-black(for='c_ship_different_address', data-toggle='collapse', href='#ship_different_address', role='button', aria-expanded='false', aria-controls='ship_different_address')
                                        input#c_ship_different_address(type='checkbox', value='1')
                                        |  Ship To A Different Address?
                                    #ship_different_address.collapse
                                        .py-2
                                            .form-group
                                                label.text-black(for='c_diff_country')
                                                    | Country
                                                    span.text-danger *
                                                select#c_diff_country.form-control
                                                    option(value='1') Select a country
                                                    option(value='2') bangladesh
                                                    option(value='3') Algeria
                                                    option(value='4') Afghanistan
                                                    option(value='5') Ghana
                                                    option(value='6') Albania
                                                    option(value='7') Bahrain
                                                    option(value='8') Colombia
                                                    option(value='9') Dominican Republic
                                            .form-group.row
                                                .col-md-6
                                                    label.text-black(for='c_diff_fname')
                                                        | First Name
                                                        span.text-danger *
                                                    input#c_diff_fname.form-control(type='text', name='c_diff_fname')
                                                .col-md-6
                                                    label.text-black(for='c_diff_lname')
                                                        | Last Name
                                                        span.text-danger *
                                                    input#c_diff_lname.form-control(type='text', name='c_diff_lname')
                                            .form-group.row
                                                .col-md-12
                                                    label.text-black(for='c_diff_companyname') Company Name
                                                    input#c_diff_companyname.form-control(type='text', name='c_diff_companyname')
                                            .form-group.row
                                                .col-md-12
                                                    label.text-black(for='c_diff_address')
                                                        | Address
                                                        span.text-danger *
                                                    input#c_diff_address.form-control(type='text', name='c_diff_address', placeholder='Street address')
                                            .form-group
                                                input.form-control(type='text', placeholder='Apartment, suite, unit etc. (optional)')
                                            .form-group.row
                                                .col-md-6
                                                    label.text-black(for='c_diff_state_country')
                                                        | State / Country
                                                        span.text-danger *
                                                    input#c_diff_state_country.form-control(type='text', name='c_diff_state_country')
                                                .col-md-6
                                                    label.text-black(for='c_diff_postal_zip')
                                                        | Posta / Zip
                                                        span.text-danger *
                                                    input#c_diff_postal_zip.form-control(type='text', name='c_diff_postal_zip')
                                            .form-group.row.mb-5
                                                .col-md-6
                                                    label.text-black(for='c_diff_email_address')
                                                        | Email Address
                                                        span.text-danger *
                                                    input#c_diff_email_address.form-control(type='text', name='c_diff_email_address')
                                                .col-md-6
                                                    label.text-black(for='c_diff_phone')
                                                        | Phone
                                                        span.text-danger *
                                                    input#c_diff_phone.form-control(type='text', name='c_diff_phone', placeholder='Phone Number')
                                .form-group
                                    label.text-black(for='c_order_notes') Order Notes
                                    textarea#c_order_notes.form-control(name='c_order_notes', cols='30', rows='5', placeholder='Write your notes here...')
                        .col-md-6
                            .row.mb-5
                                .col-md-12
                                    h2.h3.mb-3.text-black Coupon Code
                                    .p-3.p-lg-5.border
                                        label.text-black.mb-3(for='c_code') Enter your coupon code if you have one
                                        .input-group.w-75
                                            input#c_code.form-control(type='text', placeholder='Coupon Code', aria-label='Coupon Code', aria-describedby='button-addon2')
                                            .input-group-append
                                                button#button-addon2.btn.btn-primary.btn-sm.px-4(type='button') Apply
                            .row.mb-5
                                .col-md-12
                                    h2.h3.mb-3.text-black Your Order
                                    .p-3.p-lg-5.border
                                        table.table.site-block-order-table.mb-5
                                            thead
                                                tr
                                                    th Product
                                                    th Total
                                            tbody
                                                tr
                                                    td
                                                        | Top Up T-Shirt
                                                        strong.mx-2 x
                                                        |  1
                                                    td $250.00
                                                tr
                                                    td
                                                        | Polo Shirt
                                                        strong.mx-2 x
                                                        |    1
                                                    td $100.00
                                                tr
                                                    td.text-black.font-weight-bold
                                                        strong Cart Subtotal
                                                    td.text-black $350.00
                                                tr
                                                    td.text-black.font-weight-bold
                                                        strong Order Total
                                                    td.text-black.font-weight-bold
                                                        strong $350.00
                                        .border.p-3.mb-3
                                            h3.h6.mb-0
                                                a.d-block(data-toggle='collapse', href='#collapsebank', role='button', aria-expanded='false', aria-controls='collapsebank') Direct Bank Transfer
                                            #collapsebank.collapse
                                                .py-2
                                                    p.mb-0
                                                        | Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.
                                        .border.p-3.mb-3
                                            h3.h6.mb-0
                                                a.d-block(data-toggle='collapse', href='#collapsecheque', role='button', aria-expanded='false', aria-controls='collapsecheque') Cheque Payment
                                            #collapsecheque.collapse
                                                .py-2
                                                    p.mb-0
                                                        | Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.
                                        .border.p-3.mb-5
                                            h3.h6.mb-0
                                                a.d-block(data-toggle='collapse', href='#collapsepaypal', role='button', aria-expanded='false', aria-controls='collapsepaypal') Paypal
                                            #collapsepaypal.collapse
                                                .py-2
                                                    p.mb-0
                                                        | Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.
                                        .form-group
                                            button.btn.btn-primary.btn-lg.btn-block(onclick="window.location='thankyou.html'") Place Order
                    // </form>
            footer.site-footer.custom-border-top
                .container
                    .row
                        .col-md-6.col-lg-3.mb-4.mb-lg-0
                            h3.footer-heading.mb-4 Promo
                            a.block-6(href='#')
                                img.img-fluid.rounded.mb-4(src='assets/images/about_1.jpg', alt='Image placeholder')
                                h3.font-weight-light.mb-0 Finding Your Perfect Shirts This Summer
                                p Promo from  July 15 — 25, 2019
                        .col-lg-5.ml-auto.mb-5.mb-lg-0
                            .row
                                .col-md-12
                                    h3.footer-heading.mb-4 Quick Links
                                .col-md-6.col-lg-4
                                    ul.list-unstyled
                                        li
                                            a(href='#') Sell online
                                        li
                                            a(href='#') Features
                                        li
                                            a(href='#') Shopping cart
                                        li
                                            a(href='#') Store builder
                                .col-md-6.col-lg-4
                                    ul.list-unstyled
                                        li
                                            a(href='#') Mobile commerce
                                        li
                                            a(href='#') Dropshipping
                                        li
                                            a(href='#') Website development
                                .col-md-6.col-lg-4
                                    ul.list-unstyled
                                        li
                                            a(href='#') Point of sale
                                        li
                                            a(href='#') Hardware
                                        li
                                            a(href='#') Software
                        .col-md-6.col-lg-3
                            .block-5.mb-5
                                h3.footer-heading.mb-4 Contact Info
                                ul.list-unstyled
                                    li.address 203 Fake St. Mountain View, San Francisco, California, USA
                                    li.phone
                                        a(href='tel://23923929210') +2 392 3929 210
                                    li.email emailaddress@domain.com
                            .block-7
                                form(action='#', method='post')
                                    label.footer-heading(for='email_subscribe') Subscribe
                                    .form-group
                                        input#email_subscribe.form-control.py-4(type='text', placeholder='Email')
                                        input.btn.btn-sm.btn-primary(type='submit', value='Send')
                    .row.pt-5.mt-5.text-center
                        .col-md-12
                            p
                                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                                | Copyright ©
                                script.
                                    document.write(new Date().getFullYear());
                                |  All rights reserved | This template is made with
                                i.icon-heart(aria-hidden='true')
                                |  by
                                a.text-primary(href='https://colorlib.com', target='_blank') Colorlib
                                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        script(src='assets/js/jquery-3.3.1.min.js')
        script(src='assets/js/jquery-ui.js')
        script(src='assets/js/popper.min.js')
        script(src='assets/js/bootstrap.min.js')
        script(src='assets/js/owl.carousel.min.js')
        script(src='assets/js/jquery.magnific-popup.min.js')
        script(src='assets/js/aos.js')
        script(src='assets/js/main.js')
