html
    head
        include head
    body
        .site-wrap
            .site-navbar.bg-white.py-2
                .search-wrap
                    .container
                        a.search-close.js-search-close(href='#')
                            span.icon-close2
                        form(action='#', method='post')
                            input.form-control(type='text', placeholder='Search keyword and hit enter...')
                .container
                    .d-flex.align-items-center.justify-content-between
                        .logo
                            .site-logo
                                a.js-logo-clone(href='index.html') ShopMax
                        .main-nav.d-none.d-lg-block
                            nav.site-navigation.text-right.text-md-center(role='navigation')
                                ul.site-menu.js-clone-nav.d-none.d-lg-block
                                    li.has-children
                                        a(href='index.html') Home
                                        ul.dropdown
                                            li
                                                a(href='#') Menu One
                                            li
                                                a(href='#') Menu Two
                                            li
                                                a(href='#') Menu Three
                                            li.has-children
                                                a(href='#') Sub Menu
                                                ul.dropdown
                                                    li
                                                        a(href='#') Menu One
                                                    li
                                                        a(href='#') Menu Two
                                                    li
                                                        a(href='#') Menu Three
                                    li
                                        a(href='shop.html') Shop
                                    li
                                        a(href='#') Catalogue
                                    li
                                        a(href='#') New Arrivals
                                    li.active
                                        a(href='contact.html') Contact
                        .icons
                            a.icons-btn.d-inline-block.js-search-open(href='#')
                                span.icon-search
                            a.icons-btn.d-inline-block(href='#')
                                span.icon-heart-o
                            a.icons-btn.d-inline-block.bag(href='cart.html')
                                span.icon-shopping-bag
                                span.number 2
                            a.site-menu-toggle.js-menu-toggle.ml-3.d-inline-block.d-lg-none(href='#')
                                span.icon-menu
            .site-blocks-cover.inner-page(style="background-image: url('images/hero_2.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center", data-aos='fade')
                .container
                    .row
            .custom-border-bottom.py-3
                .container
                    .row
                        .col-md-12.mb-0
                            a(href='index.html') Home
                            span.mx-2.mb-0 /
                            strong.text-black Contact
            .site-section
                .container
                    .row
                        .col-md-12
                            h2.h3.mb-3.text-black Get In Touch
                        .col-md-7
                            form(action='#', method='post')
                                .p-3.p-lg-5.border
                                    .form-group.row
                                        .col-md-6
                                            label.text-black(for='c_fname')
                                                | First Name
                                                span.text-danger *
                                            input#c_fname.form-control(type='text', name='c_fname')
                                        .col-md-6
                                            label.text-black(for='c_lname')
                                                | Last Name
                                                span.text-danger *
                                            input#c_lname.form-control(type='text', name='c_lname')
                                    .form-group.row
                                        .col-md-12
                                            label.text-black(for='c_email')
                                                | Email
                                                span.text-danger *
                                            input#c_email.form-control(type='email', name='c_email', placeholder='')
                                    .form-group.row
                                        .col-md-12
                                            label.text-black(for='c_subject') Subject
                                            input#c_subject.form-control(type='text', name='c_subject')
                                    .form-group.row
                                        .col-md-12
                                            label.text-black(for='c_message') Message
                                            textarea#c_message.form-control(name='c_message', cols='30', rows='7')
                                    .form-group.row
                                        .col-lg-12
                                            input.btn.btn-primary.btn-lg.btn-block(type='submit', value='Send Message')
                        .col-md-5.ml-auto
                            .p-4.border.mb-3
                                span.d-block.text-primary.h6.text-uppercase New York
                                p.mb-0 203 Fake St. Mountain View, San Francisco, California, USA
                            .p-4.border.mb-3
                                span.d-block.text-primary.h6.text-uppercase London
                                p.mb-0 203 Fake St. Mountain View, San Francisco, California, USA
                            .p-4.border.mb-3
                                span.d-block.text-primary.h6.text-uppercase Canada
                                p.mb-0 203 Fake St. Mountain View, San Francisco, California, USA
            footer.site-footer.custom-border-top
                .container
                    .row
                        .col-md-6.col-lg-3.mb-4.mb-lg-0
                            h3.footer-heading.mb-4 Promo
                            a.block-6(href='#')
                                img.img-fluid.rounded.mb-4(src='assets/images/about_1.jpg', alt='Image placeholder')
                                h3.font-weight-light.mb-0 Finding Your Perfect Shirts This Summer
                                p Promo from  July 15 — 25, 2019
                        .col-lg-5.ml-auto.mb-5.mb-lg-0
                            .row
                                .col-md-12
                                    h3.footer-heading.mb-4 Quick Links
                                .col-md-6.col-lg-4
                                    ul.list-unstyled
                                        li
                                            a(href='#') Sell online
                                        li
                                            a(href='#') Features
                                        li
                                            a(href='#') Shopping cart
                                        li
                                            a(href='#') Store builder
                                .col-md-6.col-lg-4
                                    ul.list-unstyled
                                        li
                                            a(href='#') Mobile commerce
                                        li
                                            a(href='#') Dropshipping
                                        li
                                            a(href='#') Website development
                                .col-md-6.col-lg-4
                                    ul.list-unstyled
                                        li
                                            a(href='#') Point of sale
                                        li
                                            a(href='#') Hardware
                                        li
                                            a(href='#') Software
                        .col-md-6.col-lg-3
                            .block-5.mb-5
                                h3.footer-heading.mb-4 Contact Info
                                ul.list-unstyled
                                    li.address 203 Fake St. Mountain View, San Francisco, California, USA
                                    li.phone
                                        a(href='tel://23923929210') +2 392 3929 210
                                    li.email emailaddress@domain.com
                            .block-7
                                form(action='#', method='post')
                                    label.footer-heading(for='email_subscribe') Subscribe
                                    .form-group
                                        input#email_subscribe.form-control.py-4(type='text', placeholder='Email')
                                        input.btn.btn-sm.btn-primary(type='submit', value='Send')
                    .row.pt-5.mt-5.text-center
                        .col-md-12
                            p
                                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                                | Copyright ©
                                script.
                                    document.write(new Date().getFullYear());
                                |  All rights reserved | This template is made with
                                i.icon-heart(aria-hidden='true')
                                |  by
                                a.text-primary(href='https://colorlib.com', target='_blank') Colorlib
                                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        script(src='assets/js/jquery-3.3.1.min.js')
        script(src='assets/js/jquery-ui.js')
        script(src='assets/js/popper.min.js')
        script(src='assets/js/bootstrap.min.js')
        script(src='assets/js/owl.carousel.min.js')
        script(src='assets/js/jquery.magnific-popup.min.js')
        script(src='assets/js/aos.js')
        script(src='assets/js/main.js')
