html
    head
        include head
    body
        .site-wrap
            .site-navbar.bg-white.py-2
                .search-wrap
                    .container
                        a.search-close.js-search-close(href='#')
                            span.icon-close2
                        form(action='#', method='post')
                            input.form-control(type='text', placeholder='Search keyword and hit enter...')
                .container
                    .d-flex.align-items-center.justify-content-between
                        .logo
                            .site-logo
                                a.js-logo-clone(href='index.html') ShopMax
                        .main-nav.d-none.d-lg-block
                            nav.site-navigation.text-right.text-md-center(role='navigation')
                                ul.site-menu.js-clone-nav.d-none.d-lg-block
                                    li.has-children
                                        a(href='index.html') Home
                                        ul.dropdown
                                            li
                                                a(href='#') Menu One
                                            li
                                                a(href='#') Menu Two
                                            li
                                                a(href='#') Menu Three
                                            li.has-children
                                                a(href='#') Sub Menu
                                                ul.dropdown
                                                    li
                                                        a(href='#') Menu One
                                                    li
                                                        a(href='#') Menu Two
                                                    li
                                                        a(href='#') Menu Three
                                    li.active
                                        a(href='shop.html') Shop
                                    li
                                        a(href='#') Catalogue
                                    li
                                        a(href='#') New Arrivals
                                    li
                                        a(href='contact.html') Contact
                        .icons
                            a.icons-btn.d-inline-block.js-search-open(href='#')
                                span.icon-search
                            a.icons-btn.d-inline-block(href='#')
                                span.icon-heart-o
                            a.icons-btn.d-inline-block.bag(href='cart.html')
                                span.icon-shopping-bag
                                span.number 2
                            a.site-menu-toggle.js-menu-toggle.ml-3.d-inline-block.d-lg-none(href='#')
                                span.icon-menu
            .bg-light.py-3
                .container
                    .row
                        .col-md-12.mb-0
                            a(href='index.html') Home
                            span.mx-2.mb-0 /
                            a(href='shop.html') Shop
                            span.mx-2.mb-0 /
                            strong.text-black Gray Shoe
            .site-section
                .container
                    .row
                        .col-md-6
                            .item-entry
                                a.product-item.md-height.bg-gray.d-block(href='#')
                                    img.img-fluid(src='assets/images/prod_2.png', alt='Image')
                        .col-md-6
                            h2.text-black Gray Shoe
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, vitae, explicabo? Incidunt facere, natus soluta dolores iusto! Molestiae expedita veritatis nesciunt doloremque sint asperiores fuga voluptas, distinctio, aperiam, ratione dolore.
                            p.mb-4
                                | Ex numquam veritatis debitis minima quo error quam eos dolorum quidem perferendis. Quos repellat dignissimos minus, eveniet nam voluptatibus molestias omnis reiciendis perspiciatis illum hic magni iste, velit aperiam quis.
                            p
                                strong.text-primary.h4 $50.00
                            .mb-1.d-flex
                                label.d-flex.mr-3.mb-3(for='option-sm')
                                    span.d-inline-block.mr-2(style='top:-2px; position: relative;')
                                        input#option-sm(type='radio', name='shop-sizes')
                                    span.d-inline-block.text-black Small
                                label.d-flex.mr-3.mb-3(for='option-md')
                                    span.d-inline-block.mr-2(style='top:-2px; position: relative;')
                                        input#option-md(type='radio', name='shop-sizes')
                                    span.d-inline-block.text-black Medium
                                label.d-flex.mr-3.mb-3(for='option-lg')
                                    span.d-inline-block.mr-2(style='top:-2px; position: relative;')
                                        input#option-lg(type='radio', name='shop-sizes')
                                    span.d-inline-block.text-black Large
                                label.d-flex.mr-3.mb-3(for='option-xl')
                                    span.d-inline-block.mr-2(style='top:-2px; position: relative;')
                                        input#option-xl(type='radio', name='shop-sizes')
                                    span.d-inline-block.text-black  Extra Large
                            .mb-5
                                .input-group.mb-3(style='max-width: 120px;')
                                    .input-group-prepend
                                        button.btn.btn-outline-primary.js-btn-minus(type='button') −
                                    input.form-control.text-center(type='text', value='1', placeholder='', aria-label='Example text with button addon', aria-describedby='button-addon1')
                                    .input-group-append
                                        button.btn.btn-outline-primary.js-btn-plus(type='button') +
                            p
                                a.buy-now.btn.btn-sm.height-auto.px-4.py-3.btn-primary(href='cart.html') Add To Cart
            .site-section.block-3.site-blocks-2
                .container
                    .row.justify-content-center
                        .col-md-7.site-section-heading.text-center.pt-4
                            h2 Featured Products
                    .row
                        .col-md-12.block-3
                            .nonloop-block-3.owl-carousel
                                .item
                                    .item-entry
                                        a.product-item.md-height.bg-gray.d-block(href='#')
                                            img.img-fluid(src='assets/images/model_1.png', alt='Image')
                                        h2.item-title
                                            a(href='#') Smooth Cloth
                                        strong.item-price
                                            del $46.00
                                            |  $28.00
                                        .star-rating
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                .item
                                    .item-entry
                                        a.product-item.md-height.bg-gray.d-block(href='#')
                                            img.img-fluid(src='assets/images/prod_3.png', alt='Image')
                                        h2.item-title
                                            a(href='#') Blue Shoe High Heels
                                        strong.item-price
                                            del $46.00
                                            |  $28.00
                                        .star-rating
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                .item
                                    .item-entry
                                        a.product-item.md-height.bg-gray.d-block(href='#')
                                            img.img-fluid(src='assets/images/model_5.png', alt='Image')
                                        h2.item-title
                                            a(href='#') Denim Jacket
                                        strong.item-price
                                            del $46.00
                                            |  $28.00
                                        .star-rating
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                .item
                                    .item-entry
                                        a.product-item.md-height.bg-gray.d-block(href='#')
                                            img.img-fluid(src='assets/images/prod_1.png', alt='Image')
                                        h2.item-title
                                            a(href='#') Leather Green Bag
                                        strong.item-price
                                            del $46.00
                                            |  $28.00
                                        .star-rating
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                .item
                                    .item-entry
                                        a.product-item.md-height.bg-gray.d-block(href='#')
                                            img.img-fluid(src='assets/images/model_7.png', alt='Image')
                                        h2.item-title
                                            a(href='#') Yellow Jacket
                                        strong.item-price $58.00
                                        .star-rating
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
                                            span.icon-star2.text-warning
            footer.site-footer.custom-border-top
                .container
                    .row
                        .col-md-6.col-lg-3.mb-4.mb-lg-0
                            h3.footer-heading.mb-4 Promo
                            a.block-6(href='#')
                                img.img-fluid.rounded.mb-4(src='assets/images/about_1.jpg', alt='Image placeholder')
                                h3.font-weight-light.mb-0 Finding Your Perfect Shirts This Summer
                                p Promo from  July 15 — 25, 2019
                        .col-lg-5.ml-auto.mb-5.mb-lg-0
                            .row
                                .col-md-12
                                    h3.footer-heading.mb-4 Quick Links
                                .col-md-6.col-lg-4
                                    ul.list-unstyled
                                        li
                                            a(href='#') Sell online
                                        li
                                            a(href='#') Features
                                        li
                                            a(href='#') Shopping cart
                                        li
                                            a(href='#') Store builder
                                .col-md-6.col-lg-4
                                    ul.list-unstyled
                                        li
                                            a(href='#') Mobile commerce
                                        li
                                            a(href='#') Dropshipping
                                        li
                                            a(href='#') Website development
                                .col-md-6.col-lg-4
                                    ul.list-unstyled
                                        li
                                            a(href='#') Point of sale
                                        li
                                            a(href='#') Hardware
                                        li
                                            a(href='#') Software
                        .col-md-6.col-lg-3
                            .block-5.mb-5
                                h3.footer-heading.mb-4 Contact Info
                                ul.list-unstyled
                                    li.address 203 Fake St. Mountain View, San Francisco, California, USA
                                    li.phone
                                        a(href='tel://23923929210') +2 392 3929 210
                                    li.email emailaddress@domain.com
                            .block-7
                                form(action='#', method='post')
                                    label.footer-heading(for='email_subscribe') Subscribe
                                    .form-group
                                        input#email_subscribe.form-control.py-4(type='text', placeholder='Email')
                                        input.btn.btn-sm.btn-primary(type='submit', value='Send')
                    .row.pt-5.mt-5.text-center
                        .col-md-12
                            p
                                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                                | Copyright ©
                                script.
                                    document.write(new Date().getFullYear());
                                |  All rights reserved | This template is made with
                                i.icon-heart(aria-hidden='true')
                                |  by
                                a.text-primary(href='https://colorlib.com', target='_blank') Colorlib
                                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        script(src='assets/js/jquery-3.3.1.min.js')
        script(src='assets/js/jquery-ui.js')
        script(src='assets/js/popper.min.js')
        script(src='assets/js/bootstrap.min.js')
        script(src='assets/js/owl.carousel.min.js')
        script(src='assets/js/jquery.magnific-popup.min.js')
        script(src='assets/js/aos.js')
        script(src='assets/js/main.js')
